table {
    font-family: arial, sans-serif;
    width: 100%;
    background-color: white ;

}
td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
th{
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  text-align: center;
}
tr:nth-child(even) {
    background-color: #dddddd;
}
li{
  font-size: 20px;
  color: #78909C;
}
ol{
  font-family: arial, sans-serif;
  width: 100%;
}
h1{
  font-style: italic;
  color: Tomato;
  font-size: 50px;
}
p{
  color: #78909C;
  font-size: 30px;
}
body{
  background-color: beige;
}
thead{
    font-style: italic;
}
.vid{
  text-align: center;
  width: "300";
  height: "250";
}
.center{
  text-align: center;
}
